build/
build_cmake/
generatedFiles/
build_coverity/
ad_radar_apl/ToBeCleanUp/scom_compare/
ad_radar_apl/ToBeCleanUp/scom_gen/FR5CU_DENN1_CEN_N_XX_2_uC2/
ad_radar_apl/component/rbPdm/gen/
ad_radar_apl/tools/QAC_SW_METRICS/script/*.log
ad_radar_apl/tools/QAC_SW_METRICS/script/*.csv
sca_tools*.log
ad_radar_apl/tools/sca_tools/qac/baseline/FR5CU_DNNN1_NNN_N_XX_2_uC1/**.sup
ad_radar_apl/tools/sca_tools/qac/baseline/FR5CU_DENN1_CEN_N_XX_2_uC2/**.sup
ad_radar_apl/tools/sca_tools/qac/baseline/NR5CP_DENN1_CEN_N_LX_2/**.sup
ad_radar_apl/tools/scripts/MTUpdate/*.ini
ad_radar_apl/cfg/rbBuild_Version_Cfg.h
ad_radar_apl/tools/plant_container/___SW_VERSION.bat
ad_radar_apl/tools/sca/qac/deltas_list.txt
ad_radar_apl/tools/builder/*.log
ad_radar_apl/tools/STARe_TREK/output
ad_radar_apl/tools/STARe_TREK/output/docu/
*.pyc
_builds/
.bin/
.settings/
.classpath
.cproject
.project
.accessors/
.vscode/settings.json
*~
.freemarker-ide.xml
workspace.log
ad_radar_apl/arch/.fluxuser
_metadata/mic/temproot.mic
.fluxuser
#itc2
TCC_Toolpaths.bat
TCC_Toolpaths.cmake
ad_radar_apl/doc/**.pdf
Doxyfile_sw_version