
[FOSS]
# only files with a matching extension will be copied
file_extensions = .c,.cpp,.h,.hpp,.inl,.s
# list of folders that are copied with all included files (folder with the same name is created in destination)
folders = ad_radar_apl/cfg, ad_radar_apl/component, ad_radar_apl/ToBeCleanUp, ad_radar_apl/cubas, ad_radar_apl/tools/supplements, ip_dc